body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}